* {
  padding:0px;
  margin:0px;
  scroll-behavior:smooth;
}
:root {
  --main-theme-color:rgb(30, 27, 51);
  --another-theme-color:rgb(35, 31, 56);
  --another-deep-color:rgb(38, 34, 61);
}
*:focus {
  outline:none;
}
::-webkit-scrollbar {
  display:none;
}
::-webkit-scrollbar-track {
  background-color:none;
}
::placeholder {
  color:white;
  opacity:0.7;
}
a {
  text-decoration:none;
  color:white;
}
input::selection {
  background-color:transparent;
}
Body {
  background-color:rgb(7, 7, 13);
  user-select:none;
  overflow-x:hidden;
}
#header {
  background:var(--main-theme-color);
  border-radius:10px;
  width:95%;
  height:60px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  cursor:context-menu;
}
.header-text {
  color:white;
  font-family:Aviny;
  font-size:30px;
  text-align:center;
  margin:3px 10px;
  display:inline-block;
  cursor:pointer;
  transition:0.3s;
}
.header-text:hover {
  font-size:36px;
  margin-top:-10px;
}
#main-section {
  background:var(--main-theme-color);
  border-radius:10px;
  width:95%;
  height:490px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
#main-icon {
  justify-content:center;
  display:flex;
  margin:80px auto;
  width:300px;
  height:300px;
  animation:Rotaion 3.5s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
}
@keyframes Rotaion {
  from { transform:rotate(0deg);}
  to { transform:rotate(360deg);}
}
#title-text {
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  margin-top:200px;
}
#skill-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.skill-section {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
  cursor:default;
}
.skill-section:hover {
  transform:scale(1.04);
}
.skill-icon {
  width:140px;
  height:140px;
  margin:30px auto;
  justify-content:center;
  display:flex;
}
.skill-title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.skill-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:230px;
  height:170px;
  text-align:center;
  margin:20px auto;
}
#project-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.project-section {
  background:var(--main-theme-color);
  border-radius:20px;
  width:400px;
  height:400px;
  margin:100px auto;
  transition:0.4s;
}
.project-section:hover {
  transform:scale(1.04);
}
.project-title {
  background:var(--another-theme-color);
  border-radius:20px 20px 0 0;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:36px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.project-title:hover {
  background:var(--another-deep-color);
}
.project-image-container {
  background:var(--another-theme-color);
  width:340px;
  height:200px;
  border:none;
  font-family:Aviny;
  font-size:44px;
  color:white;
  text-align:center;
  align-items:center;
  justify-content:center;
  display:flex;
  margin:-20px auto;
  transition:0.4s;
  cursor:pointer
}
.project-image-container:hover {
  background:var(--another-deep-color);
}
.project-image {
  width:340px;
  height:200px;
  display:flex;
  justify-content:center;
  margin:-20px auto;
}
.project-button {
  background:var(--another-theme-color);
  border-radius:0 0 20px 20px;
  width:340px;
  height:60px;
  border:none;
  font-family:Aviny;
  font-size:22px;
  color:white;
  text-align:center;
  justify-content:center;
  padding-top:10px;
  display:flex;
  margin:30px auto;
  transition:0.4s;
  cursor:pointer
}
.project-button:hover {
  background:var(--another-deep-color);
}
#resume-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.resume-section {
  background:var(--main-theme-color);
  width:620px;
  height:340px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
.inner-resume-section {
  background:var(--another-theme-color);
  width:540px;
  height:260px;
  border-radius:20px;
  margin:-110px auto;
  transition:0.4s;
}
.resume-section:hover {
  transform:scale(1.04);
}
.resume-title {
  font-family:Aviny;
  font-size:40px;
  color:white;
  margin:150px auto;
  padding-top:65px;
  text-align:center;
}
.resume-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:300px;
  height:50px;
  margin:-150px auto;
  text-align:center;
}
#freelance-information-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.freelance-information-section {
  background:var(--main-theme-color);
  width:400px;
  height:160px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
.freelance-information-section:hover {
  transform:scale(1.04);
}
.inner-freelance-information-section {
  background:var(--another-theme-color);
  width:340px;
  height:100px;
  border-radius:20px;
  margin:30px auto;
  transition:0.4s;
}
.freelance-information-section-description {
  padding-top:35px;
  font-family:Vazir;
  font-size:18px;
  color:white;
  text-align:center;
}
.freelance-information-section-description-specific-number {
  text-shadow:0px 0px 5px white;
}
#contact-template {
  justify-content:center;
  display:flex;
  margin:-20px auto;
}
.contact-section {
  background:var(--main-theme-color);
  width:280px;
  height:420px;
  border-radius:20px;
  margin:100px auto;
  transition:0.4s;
}
.contact-section:hover {
  transform:scale(1.04);
}
.contact-icon {
  width:140px;
  height:140px;
  justify-content:center;
  display:flex;
  margin:30px auto;
  cursor:pointer;
  transition:0.5s;
}
.contact-icon:hover {
  transform:rotate(180deg);
}
.contact-title {
  font-family:Aviny;
  font-size:32px;
  color:white;
  text-align:center;
  margin:-20px auto;
}
.contact-description {
  font-family:Vazir;
  font-size:16px;
  color:white;
  width:230px;
  height:170px;
  text-align:center;
  margin:20px auto;
}
.footer {
  background:var(--main-theme-color);
  width:100%;
  height:360px;
  margin-top:100px;
}
@font-face {
    font-family:Aviny;
    src: url('../font/Aviny.ttf');
}
@font-face {
    font-family:Vazir;
    src: url('../font/Vazir.ttf');
}
@media only screen and (max-width: 900px) {
  #main-section {
    height:300px;
  }
  #main-icon {
    margin-top:50px;
     width:200px;
     height:200px;
  }
  .header-text {
    font-size:22px;
    margin:11px 7px;
  }
  .header-text:hover {
    font-size:28px;
    margin:0px 7px;
  }
  #skill-template {
    flex-direction:column;
    margin-top:100px;
  }
  .skill-section {
    margin-top:-70px;
    width:300px;
  }
  #project-template {
    flex-direction:column;
    margin-top:100px;
  }
  .project-section {
    margin-top:-70px;
    width:300px;
    height:340px;
  }
  .project-title {
    width:240px;
    height:50px;
    font-size:26px;
  }
  .project-image-container {
    width:240px;
    height:160px;
  }
  .project-image {
    width:280px;
    height:160px;
  }
  .project-button {
    width:240px;
    height:50px;
    font-size:18px;
  }
  #resume-template {
    flex-direction:column;
    margin-top:100px;
  }
  .resume-section {
    margin-top:-70px;
    width:300px;
    height:220px;
  }
  .inner-resume-section {
    width:240px;
    height:160px;
    margin-top:30px;
    margin-left:30px;
    position:absolute;
  }
  .resume-title {
    font-size:28px;
    position:absolute;
    margin-top:-30px;
    margin-left:22px;
  }
  .resume-description {
    font-size:10px;
    background:none;
    width:180px;
    margin-top:80px;
  }
  #freelance-information-template {
    flex-direction:column;
    margin-top:10px;
  }
  .freelance-information-section {
    background:var(--main-theme-color);
    width:300px;
    height:160px;
    border-radius:20px;
    margin:15px auto;
    transition:0.4s;
  }
  .inner-freelance-information-section {
    background:var(--another-theme-color);
    width:240px;
    height:100px;
    border-radius:20px;
    margin:30px auto;
    transition:0.4s;
  }
  .freelance-information-section-description {
    padding-top:35px;
    font-family:Vazir;
    font-size:14px;
    color:white;
    text-align:center;
  }
  #contact-template {
    flex-direction:column;
    margin-top:100px;
  }
  .contact-section {
    margin-top:-70px;
    width:300px;
  }
}
